
body {
    background-color: #E5E5E5;
    font-family: Roboto;
    color: rgba(115, 124, 142, 1);
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.div1 {
    display: flex;
    
    flex-direction: column;
    width: 426px;
    height: 367px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

.h1_1 {
    display: flex;
    margin-top: -15px;
    flex-direction: column;
    align-items: center;

}

.div1_2 {
    display: flex;
    flex-direction: column;
    width: 245px;
    margin-left: 80px;
    margin-top: 25px;

}

.p1 {
    font-weight: 700;
    padding: 10px;

}

.input1 {
    border-radius: 25px;
    height: 35px;
    width: 270px;
    border: 2px solid rgba(115, 124, 142, 1);;

    
}

.bottom1 {
    width: 111px;
    height: 31px;
    border-radius: 96px;
    margin-left: 152px;
    margin-top: 55px;
    border: 0px;
    color:  rgba(115, 124, 142, 1);
}


.wyniki {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    font-size: 17px;
    font-weight: bold;
    background-color: #FFFF;
    width: 494px;
    height: 670px;
}

.wyniki_wyrownanie {
    display: flex;
    gap: 30px;
    border-bottom: solid #DFE2E8 1px;
    width: 426px;
    margin-left: 40px;
    display: flex;
    align-items: center;

}

.wyniki_kulko1 {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 13px;
    background-color: #CB8581;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF;
}


.wyniki_kulko2 {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 13px;
    background-color: #E1D888;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF;
}

.wyniki_kulko3 {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    font-size: 13px;
    background-color: #8FCB81;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFF;
}

.wyniki_przycisk {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: #C0C7D6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.wyniki_ilosc {
    font-size: 10px;
    margin-top: -10px;
}